*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5efe6;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.container{
    width:100%;
    max-width:600px;
    background:white;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
    overflow:hidden;
}

.screen{
    display:none;
    padding:30px;
    text-align:center;
}

.screen.active{
    display:block;
}

h1{
    color:#e86a33;
    margin-bottom:20px;
}

.quiz-header{
    margin-bottom:25px;
}

#question-text{
    margin-bottom:15px;
    color:#333;
}

.quiz-info{
    display:flex;
    justify-content:space-between;
    color:#666;
}

.answers-container{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.answer-btn{
    padding:15px;
    border:2px solid #eadcb8;
    background:#f8f0e5;
    border-radius:10px;
    cursor:pointer;
    text-align:left;
    transition:.3s;
}

.answer-btn:hover{
    background:#eadcb8;
}

.answer-btn.correct{
    background:#d4edda;
    border-color:#28a745;
}

.answer-btn.wrong{
    background:#f8d7da;
    border-color:#dc3545;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#e86a33;
    color:rgb(21, 21, 21);
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#d45b28;
}

.progress-bar{
    margin-top:20px;
    height:10px;
    background:#eee;
    border-radius:10px;
    overflow:hidden;
}

.progress{
    width:0%;
    height:100%;
    background:#e86a33;
    transition:0.3s;
}

.result-info{
    margin:20px 0;
    padding:20px;
    background:#f8f0e5;
    border-radius:10px;
}

#result-message{
    margin-top:15px;
    font-size:22px;
    font-weight:bold;
    color:#e86a33;
}
